.App {
  text-align: center;
  border: black solid 1px;

  background-color: floralwhite;

}

p{
  height: 10vh;
  font-size: x-large;

}


nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #C0FFEE; 
  margin: 0;
}
.nav-links {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
}
footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #bada55;
  margin: 0;
}