body{
    background-color: black;
}

#yellow{
    background-color: #FECC02;
    width: 130px;
    height: 600px;
    margin:0;
    right: 610px;
    position: fixed;
    bottom: 110px;
}

#alsoYellow{
    background-color: #FECC02;
    width: 900px;
    height: 130px;
    margin:0;
    position: fixed;
    bottom: 360px;
    right: 140px;
}
#blue{
    background-color: #006BA7;
    width: 900px;
    height: 600px;
    margin:0;
}