.headline {
    color:green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.subheading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
p{
    line-height: 25px;
}

a{
    text-decoration: none;
}
.like{
    text-transform: uppercase;
}